<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <!--Configurações de conexão com banco de dados-->
  <connectionStrings>
    <add name="conexao" connectionString="Server=127.0.0.1;Port=3306;Database=ops;Uid=sa;Pwd=vitor.M1010;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--Chaves-->
  <appSettings>
    <!--Aplicação-->
    <add key="appNome" value="Otimização para Salões"/>
    <add key="appPing" value="www.google.com.br"/>
    <!--Cores-->
    <add key="appCor" value="#0096E8"/>
    <add key="appTituloCor" value="#FFFFFF"/>
    <!--E-mail-->
    <add key="emailUsuario" value="suporte@wfbconsultoria.com.br"/>
    <add key="emailSenha" value="@Mepm2412"/>
    <add key="emailSmtpHost" value="smtp.office365.com"/>
    <add key="emailSmtpPorta" value="587"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AtendeClienteServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="AtendeClienteServiceSoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente"
        binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding"
        contract="wsCorreios.AtendeCliente" name="AtendeClientePort" />
    </client>
  </system.serviceModel>
</configuration>